---
version: "3"

services:

  grafana:
    container_name: grafana
    image: grafana/grafana-oss
    user: "1000"
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - "{{ grafana_volume_dir }}/varlib:/var/lib/grafana"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_NAME=Main Org.
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
      - GF_INSTALL_PLUGINS=grafana-clock-panel,grafana-piechart-panel,vonage-status-panel,agenty-flowcharting-panel,alexanderzobnin-zabbix-app
