---
version: "3"

services:

  influxdb:
    container_name: influxdb
    image: influxdb:2.4.0
    restart: unless-stopped
    ports:
      - 8086:8086
    volumes:
      - "{{ influxdb_volume_dir }}:/var/lib/influxdb"
