---
version: "3"

services:

  unifi:
    container_name: unifi
    image: jacobalberty/unifi:v7.1.68
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - "{{ unifi_volume_dir }}:/unifi"
    environment:
      - TZ=Europe/Amsterdam
