---
version: "3"

services:

  nodered:
    container_name: nodered
    image: nodered/node-red
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - "{{ nodered_volume_dir }}:/data"
