---
version: "3"

services:

  zabbix_agent:
    container_name: telegraf
    image: telegraf:1.17.2
    restart: unless-stopped
    volumes:
      - "{{ telegraf_volume_dir }}:/etc/telegraf:ro"
      - /:/hostfs:ro
    environment:
      - HOST_ETC=/hostfs/etc
      - HOST_PROC=/hostfs/proc
      - HOST_SYS=/hostfs/sys
      - HOST_VAR=/hostfs/var
      - HOST_RUN=/hostfs/run
      - HOST_MOUNT_PREFIX=/hostfs
