---
version: "3"

services:

  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt
    restart: unless-stopped
    volumes:
      - {{ zigbee2mqtt_volume_dir }}:/app/data
      - /run/udev:/run/udev:ro
    ports:
      - 8080:8080
    environment:
      - ZIGBEE2MQTT_CONFIG_MQTT_SERVER=mqtt://192.168.55.22:1883
      - ZIGBEE2MQTT_CONFIG_FRONTEND=true
      - ZIGBEE2MQTT_CONFIG_HOMEASSISTANT=true
      - TZ=Europe/Amsterdam
    devices:
      # Make sure this matched your adapter location, see line below what is should look like
      # - /dev/serial/by-id/usb-Silicon_Labs_Sonoff_Zigbee_3.0_USB_Dongle_Plus_0001-if00-port0:/dev/ttyACM0
      - /dev/serial/by-id/{{ dongle_id.stdout }}:/dev/ttyACM0

